<%- include('../partials/header', {title: 'Admin: All Workers', loggedIn: loggedIn, privelege: privelege})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12">

			<table class="table">
				<thead>
					<tr>
						<!-- <th>Avatar</th> -->
						<th>Nama Worker</th>
						<th>No. Telephone</th>
						<th>Email</th>
						<th>Rating</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
				<% allWorkers.forEach( function(worker, index) { %>
					<tr>
						<!-- <td><img src="https://placeimg.com/100/100/people" alt="worker" /></td> -->
						<td><%= worker.fullname %></td>
						<td><%= worker.phone %></td>
						<td><%= worker.email %></td>
						<td>
							<div class="rating-star">
								<%- Helper.getStars(worker.averagerating); %>
							</div><!-- /.rating-star -->
						</td>
						<td>
							<a href="/admin/workers/edit/<%= worker.id %>">Edit</a>
							<a href="/admin/workers/delete/<%= worker.id %>">Delete</a>
						</td>
					</tr>
				<% }); %>
				</tbody>
			</table>
			<a href="/admin/workers/add" class="btn btn-info">Add Worker</a>

		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('../partials/footer') %>