<%- include('partials/header', {title: 'Worker list'})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12">
			<h3 class="no-mt">All Workers</h3><!-- /.no-mt -->
			<table class="table">
				<thead>
					<tr>
						<th>Nama Worker</th>
						<th>Rating</th>
						<th>Action</th>
					</tr>
				</thead>
				<% allWorker.forEach(worker => {%>
				<tbody>
					<tr>
						<td><%= worker.fullname %></td>
						<td>

							<div class="rating-star">
							<%- Helper.getStars(worker.averagerating); %>
							</div>
						</td>
						<td><a href="/user/order-services/<%= worker.id %>">Pesan</a></td>
					</tr>
				</tbody>
				<%})%>
			</table>

		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('partials/footer') %>