<%- include('partials/header', {title: 'Your Order'})  %>

<main class="content">
	<div class="row">
		<div class="col-md-12">

			<table class="table">
				<thead>
					<tr>
						<th>Nama Worker</th>
						<th>Waktu Pemesanan</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<% orders.forEach (order => {%>
					<tr>
						<td><%= order.Worker.fullname %></td>
						<td><%= order.createdAt %></td>
						<% if (order.status) {%>
							<td> SELESAI </td>
						<%}else{%>
						<td><a href="/user/order-complete/<%= order.id %>">Order selesai</a></td>
						<%}%>
					</tr>
					<%})%>

				</tbody>
			</table>

		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</main><!-- /.content -->

<%- include('partials/footer') %>